<div class='row border border-radius p-2 m-1'>
  <div class='bg-light col-3'>
    <%- start_at %> - <%- end_at %>
  </div>
  <div class='col-3'>
    <a class='link-dark' href='/users/<%- user_id %>'>
      <%- firstname %>
      <%- lastname %>
    </a>
  </div>
</div>